<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p id="para">this is my first paragraph</p>
    <button type="button" id="but">Click me</button>

    <script>
      document.getElementById("but").onclick = function () {
        document.getElementById("para").innerHTML =
          "the sentence is now being changed";
      };
    </script>
  </body>
</html>
